/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
:root{
  --themeYellow: #EBCE7E;
  --themeOrange: #D65C47;
  --themeRed: #BF2C46;
  --themeMaroon: #552437;
  --themeGreen: #547779;
  --themeLightGray: #B2B3B5;
  --themeDarkGray: #59595A;
  --themeTableHover: #8E8F90;
}
body {
  color: white;
  background-color: var(--themeLightGray);
  padding-top: 50px;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

h4 {
  text-align: center;
}

/*Make a circular div for the user profile images*/
.profile-image{
  border-radius: 50%;
  align-self: center;
  margin: 0 auto;
}

.profile-general{
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  align-items: center;
}

.profile-general span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 50px;
}

.profile-1 {
    background: var(--themeRed);
    border: 4px solid var(--themeDarkGray); 
}

.profile-2 {
    background: var(--themeOrange);
    border: 4px solid var(--themeDarkGray); 
}

.profile-3 {
    background: var(--themeGreen);
    border: 4px solid var(--themeDarkGray); 
}

.profile-4 {
    background: var(--themeMaroon);
    border: 4px solid var(--themeDarkGray); 
}

.profile-5 {
    background: var(--themeYellow);
    border: 4px solid var(--themeDarkGray);
}

#create_group_button, #join_group_button
{
  background-color: var(--themeOrange);
  border-radius: 25px;
  border-color: var(--themeLightGray);
}

#create_group_button:hover, #join_group_button:hover{
  border: 1px solid var(--themeDarkGray);
}


.btn-circle {
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 50%;
  background-color: var(--themeOrange);
  border: 1px solid var(--themeLightGray);
}
 {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #fff;
  background-color: var(--themeOrange);
  border-color: var(--themeDarkGray);
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: var(--themeOrange);
  border-color: var(--themeLightGray);
}

.placeholders{
  margin-top: 50px;
}

hr { 
  width: 100%;
  display: block;
  border-top: 1px solid;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-width: 2px;
  color: #ffffff;
  background-color: #ffffff;
}


/*
 * Global add-ons
 */
.page-header{
  font-size: 24px;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
  background-color: var(--themeOrange);
  color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: white;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: var(--themeLightGray);
  background-color: transparent;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
  text-shadow: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: var(--themeLightGray);
    border-right: 1px solid #eee;
  }
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

#mainContent{
  margin-left: 0;
  width: 100%;
}

.table-responsive{
  text-shadow: none;
}

.table-hover tbody tr:hover{
  background-color: #8E8F90;
}

#expenses tr{ 
  line-height: 14px; 
}

/*CSS for the register and the login boxes*/
#expense_modal{
  color: var(--themeGreen);
}

#expense_submit{
  background-color: var(--themeOrange);
}

.modal-body, .modal-header{
    color: #FFFFFF;
    font-family: inherit;
  background-color: var(--themeGreen);
}

.modal-header{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.modal-body{
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.text-muted {
    color: #ffffff;
}

#create_account, #login_button{
  background-color: var(--themeOrange);
  border-radius: 25px;
}

.modal-dialog {
    width: 400px;
}


/*
 * Placeholder dashboard ideas


.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
 */