/*Yellowish color: #EBCE7E
Orange color: #D65C47
Red color: #BF2C46
Maroon: #552437
green: #547779*/

.btn-round{
	border-radius: 17px;
	background-color: #547779;
	border-color: #547779;
}

.inner .btn-group{
	align-self: flex-end;
}

.masthead-brand{
	text-align: center; 
}

.masthead{
	width: 100%;
}

.site-wrapper-inner{
	background-color: #D65C47;
}