/*Yellowish color: #EBCE7E
Orange color: #D65C47
Red color: #BF2C46
Maroon: #552437
green: #547779*/

:root{
	--themeYellow: #EBCE7E;
	--themeOrange: #D65C47;
	--themeRed: #BF2C46;
	--themeMaroon: #552437;
	--themeGreen: #547779;
}

.masthead, .mastfoot, .cover-container{
	width: 65%;
}

.btn-round{
	border-radius: 17px;
	background-color: var(--themeGreen);
	border-color: var(--themeGreen);
}

.btn-group{
	align-self: flex-end;
}

.masthead-brand{
	text-align: center; 
}


.site-wrapper{
	background-color: var(--themeOrange);
}

.site-wrapper-inner{
	background-color: var(--themeOrange);
}

hr { 
	width: 100%;
    display: block;
    border-top: 1px solid;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-width: 2px;
    color: var(--themeGreen);
    background-color: var(--themeGreen);
}

.cover-heading{
	margin-bottom: 50px;
}

/*Li is and image with text beneath it */
#cover-images ul li {
	width: 25%;
	display: inline-block;
	vertical-align: top;
}

.what-we-do img {
	align-self: center;
	display: inline-block;
	height: auto;
	width: 100%;
	vertical-align: top;
}

.what-we-do strong{
	color: #666666;
}

.what-we-do p{
  text-align: center;
	font-size: 120%;
	font-family: inherit;
}

.what-we-do h4 {
	font-size: 140%;
	font-family: inherit;
}

#track-bills{
	left: 0%;
	margin-right: 60px;
}
#make-groups{
	left: 33.33%;
}
#plan-expenses{
	left: 66.66%;
	margin-left: 60px;
}


/*CSS for the register and the login boxes*/
#signup_modal{
	color: var(--themeGreen);
}

.modal-body, .modal-header{
    color: #FFFFFF;
    font-family: inherit;
	background-color: var(--themeGreen);
}

.modal-header{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.modal-body{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.text-muted {
    color: #ffffff;
}

#create_account{
	background-color: var(--themeOrange);
	border-radius: 25px;
}

